{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>
  <title>Indexing helper</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
  <link rel="stylesheet" href="{% static 'css/hover-min.css' %}">
</head>

<body>
  <div id="container">
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    <div id="footer">
      <div class="wrapper">
        <p>author: <a href="https://github.com/aboutroots/"><i class="fa fa-code-branch" aria-hidden="true"></i> aboutroots</a></p>
        <p>made in Poland, <span id="date"></span></p>
      </div>
    </div>
  </div>
  <script src="{% static 'js/base.js' %}"></script>
</body>
</html>