{% extends 'base.html' %}
{% block content %}
<div class="wrapper">
  <h1>Welcome to </br><span>indexing helper</span> tool!</h1>
  <p class="help">Upload your index file (.txt)</p>
  <p class="help">Wait while file is being processed</p>
  <p class="help">Download your new, shiny index!</p>
  <p>For a complete list of rules for an index file, look <a href="/rules">here.</a></p>
  <div id="wrapper-input">

    <form id="file-form" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <label for="file-input" class="custom-file-upload">
        <i class="fa fa-cloud-upload-alt"></i>
        <span id="upload-label">Select a file</span>
      </label>
    </form>

    <input type="file" id="file-input" name="my_file">
    <div id="run-icon-wrapper" class="big-icon-wrapper">
      <i class="fas fa-play-circle run-btn"></i>
    </div>
  </div>
  {% if uploaded_file_url %}
  <div class="big-icon-wrapper">
    <a href="{{ uploaded_file_url }}" download="index_new.txt">
      <i id="download-icon" class="fa fa-download fa-lg"> index_new.txt</i>
    </a>
  </div>
  {% endif %}
</div>
{% endblock %}