{% extends 'base.html' %}
{% block content %}
<div class="wrapper rules-wrapper">
    <div class='back'>
        <a href="/"><p><i class="fa fa-arrow-left"></i> BACK</p></a>
    </div> 
    <h2>Below is the set of rules for a correct index file. This application will
    do whatever it can to make your file match these criteria.</h2>
    <ol id="rules">
        <li>There should be no white space at the beginning and at the end of the file.</li>
        <li>There should be an empty line before every new index letter.</li>
        <li>First tier of entries does not have spaces nor dashes at the beginning.</li>
        <li>Every next tier have a new solid dash and a space before the entry.</li>
        <li>Tiers can only "grow" per one tier at the time.</li>
        <li>Entries on every tier are sorted within their own group.</li>
        <li>Sorting is done alphabetically according to Polish dictionary.</li>
    </ol>
    <h2>Example before / after comparison:</h2>
    <div class="code-columns">
    <pre><code>
C
Ccccccc, asdf
- cccc
-- ffffff
--- hhhh
--- gggg
---- x
- bbbbb
-- ddddd
--- eeee
-- cccc
- aaaa
-- bbbb
-- aaaa
A
Aaaaaaaaa
- zzz
-- żżżżżż
- xxx
-- yyy
    </code></pre>
    <pre><code>
A
Aaaaaaaaa
– xxx
– – yyy
– zzz
– – żżżżżż

C
Ccccccc, asdf
– aaaa
– – aaaa
– – bbbb
– bbbbb
– – cccc
– – ddddd
– – – eeee
– cccc
– – ffffff
– – – gggg
– – – – x
– – – hhhh
    </code></pre>
</div>
    </div>
{% endblock %}