{% extends 'base.html' %}
{% block content %}
<div class="wrapper">
    <div class='back'>
        <a href="/"><p><i class="fa fa-arrow-left"></i> back</p></a>
    </div> 
    <h2>Below is the set of rules for a correct index file. This application will
    do whatever it can to make your file match these criteria.</h2>
    <ul id="rules">
        <li>asdfaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</li>
        <li>asdfdsfadffa asdfasd adsf </li>
        <li>adsfadsfasdfa</li>
        <li>asdf</li>
    </ul>
</div>
{% endblock %}