@import url("https://fonts.googleapis.com/css?family=Playfair+Display");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300");

:root {
  --sky: #caebf2;
  --carbon: #a9a9a9;
  --darkgrey: #161616;
  --watermelon: #ff3b3f;
  --neutral: #efefef;
  --lightest: white;
}

html {
  box-sizing: border-box;
  background: var(--neutral);
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  height: 100%;
  color: var(--darkgrey);
}

body,
#container {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

a {
  color: var(--watermelon);
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
}

p {
  font-size: 0.8em;
}

.back {
  display: inline-block;
  width: 100%;
}
.back p {
  float: left;
  margin-bottom: 0;
  color: var(--watermelon);
}

#rules {
  max-width: 80%;
}

#rules li {
  margin-top: 7px;
  padding: 6px 15px;
  word-wrap: break-word;
  border-radius: 3px;
}

#content,
#footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#content {
  background-image: linear-gradient(
    to bottom right,
    var(--sky),
    var(--lightest)
  );
  padding-bottom: 10%;
}

#content .wrapper {
  margin-top: 15%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.help {
  margin: 0;
  text-align: center;
  color: var(--darkgrey);
  background-color: var(--sky);
  padding: 15px 30px;
  margin-top: 15px;
}

.wrapper {
  width: 80%;
  max-width: 860px;
  padding-top: 20px;
}

h1 {
  font-weight: 100;
  text-align: center;
  color: var(--carbon);
}

h2 {
  color: var(--darkgrey);
  padding: 10px 20px;
  padding-left: 0px;
  font-weight: 100;
  border-radius: 6px;
}

h1 span {
  font-family: "Playfair Display", serif;
  padding: 10px;
  color: var(--darkgrey);
}
#file-input {
  color: var(--carbon);
}

#file-input {
  display: none;
}

#wrapper-input {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 5%;
  align-items: baseline;
}
#file-form {
  flex-grow: 8;
  max-width: 800px;
  padding: 6px 12px;
  cursor: pointer;
  border: 10px solid #f7f7f7;
  border-radius: 5px;
  font-size: 1em;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.19);

}
#run-icon-wrapper {
  flex-grow: 1;
  font-size: 2.7em;
  cursor: pointer;
  top: -20px;
  padding: 0 0 10px 15px;
}

.custom-file-upload {
  display: flex;
  align-items: baseline;
  cursor: pointer;
  }

#upload-label {
  display: inline-block;
  margin-left: 10px;
  width: 100%;
}

.run-btn {
  margin-left: 10px;
  color: var(--watermelon);
  cursor: pointer;
  height: 100%;
  width: 50px;
  top: 10px;
  line-height: 100%;
  width: 50px;
  height: 50px;
  position: relative;
  top: 15px;
  fill: #fff;
}

#download-icon {
  padding-top: 40px;
  font-size: 2em;
  color: var(--carbon);
}

.big-icon-wrapper {
  font-size: 0.6em;
  cursor: pointer;
}

#download-wrapper {
  height: 0px;
  opacity: 0;
}

#download-wrapper a {
  pointer-events: none;
  cursor: default;
}
#download-wrapper i {
  height: 0px;
}
#info-box {
  pointer-events: none;
  cursor: default;
  border: none;
  opacity: 0;
  height: 0px;
  cursor: pointer;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 5px;
  max-width: 40%;
  box-shadow: 0 0 5px rgba(253, 40, 40, 0.12), inset 0 0 2px rgba(121, 18, 18, 0.19);
  background: var(--neutral);
}

.expanded a, #info-box.expanded  {
  pointer-events: auto !important;
  cursor: pointer !important;
}
.expanded {
  height: 100% !important;
  opacity: 1 !important;
}
.expanded i {
  height: 100% !important;
}

#footer {
  padding-top: 5%;
  padding-bottom: 3%;
  background: var(--lightest);
  flex: 1;
  font-size: 0.5em;
}

#footer .wrapper {
  display: flex;
  justify-content: space-between;
  font-size: 1.7em;
}

#footer .wrapper > * {
  flex: 1;
}

#footer .wrapper > *:last-child {
  text-align: right;
}

.code-columns {
  display: flex;
  align-content: space-between;
  align-items: space-between;
  justify-content: baseline;
  width: 50%;
  
}

.code-columns > pre {
  padding-left: 5%;
  padding-right: 5%;
  margin-right: 10%;
  flex: 1;
  box-shadow: 0 0 2px rgba(253, 40, 40, 0.12), inset 0 0 2px rgba(121, 18, 18, 0.19);
}

.rules-wrapper {
  align-items: normal !important;
}

@media only screen and (min-width: 460px) {
  p {
    font-size: 1em !important;
  }
  h1 {
    font-size: 2.4em;
  }

  #wrapper-input {
    margin-top: 2%;
    font-size: 1.4em;
  }

  .big-icon-wrapper {
    font-size: 1em;
  }

  #content .wrapper {
    margin-top: 5%;
  }
}

@media only screen and (min-width: 768px) {
  p {
    font-size: 1.3em !important;
  }
  h1 {
    font-size: 3em;
  }
  #footer {
    padding-top: 2%;
    padding-bottom: 1%;
  }
  #content .wrapper {
    margin-top: 0;
  }
}
